@font-face {
    font-family: 'MontRegular';
    src: url('../fonts/FontsFree-Net-Mont1.ttf')
}

@font-face {
    font-family: 'MontBold';
    src: url('../fonts/FontsFree-Net-mont.ttf')
}

/* Start Header area */

.header-area{
    background-color: black;
}

.header-area .main-menu .navbar .navbar-brand{
    widows: 200px;
}

.header-area .main-menu .navbar img{
    height: 50px;
    float: left;
    margin-right: 7px;
}
.header-area .main-menu .nav-item .nav-link{
    font-size: 11px;
    font-family: MontRegular;
    padding: 1rem;
    color: white;
}

.header-area .main-menu .nav-item .discounts{
  color: #D9A91A;
  font-family: MontRegular;
  font-size: 12px;
  font-weight: 400;
  
}

/* enable absolute positioning */
.header-area .main-menu .inner-addon { 
    position: relative; 
}

/* style icon */
.header-area .main-menu .inner-addon .fa {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.header-area .main-menu .right-addon .fa { right: 5px;}

/* add padding  */
.header-area .main-menu .right-addon input { padding: 20px; }

.header-area .main-menu .right-addon .form-control{
    padding:20px;
    font-size: smaller;
}

/* Finish Header area */

/* Start Secondary Navigation area */
@media screen and (max-width: 963px) {
    .secondary-area {display: none;}  
}

.secondary-area{
    width: 100%;
}
.secondary-area ul#menu{
    margin-bottom: 0;
}

.secondary-area ul#menu #active{
    background-image: linear-gradient(#D9A91A, #FED901);
}

.secondary-area ul#menu li{   
    text-align: center;
    font-weight: 400;
    font-family: MontRegular;
    font-size: 14px;
    font-weight: 700;
    display:inline-block;
    padding: 20px 22px 20px 25px; 
}



/* End Secondary Navigation area */

/* Start Banner area */

    .custom-banner-image {
        background-image: url('/images/Desktop/Bitmap\ +\ Bitmap\ Mask.png');
        width: 100%;
        height: 405px;
        background-repeat: no-repeat;
        color: white;
    }

    .custom-banner-image .text{
        padding-top: 250px;
        margin-left: 215px;
        font-size: 40px;
        font-family: MontBold;
    }

    @media screen and (max-width: 450px) {      
        .custom-banner-image{      
            background-image: url('/images/mobile/Bitmap\ +\ Bitmap\ Mask.png');
            width: 100%;
            height: 200px;
            background-position:top;
            background-size: contain;
            position: relative;
            color: white;
        } 

        .custom-banner-image .text{
            padding-top: 80px;
            margin-left: 50px;
            font-size: 25px;
            font-family: MontBold;
        }
    }

/* End Banner area */

.address-area{
    margin-left: 215px;
}

.address-area .container .row .address-item p.Area{
    color: #D9A91A;
    font-family: Mont;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 22px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.address-area .container .row .address-item p.address{
        height: 104px;
        width: 332px;
        color: #000000;
        font-family: Mont;
        font-size: 15px;
        letter-spacing: 0;
        line-height: 26px;
}

.address-area .container .row .address-item #mapid {
     height: 250px; 
     width: 500px;
     margin-bottom: 25px;
}

.address-area .container .row .address-item #mapid1 {
    height: 250px; 
    width: 500px;
    margin-bottom: 25px;
}

.address-area .container .row .address-item #mapid2 {
    height: 250px; 
    width: 500px;
    margin-bottom: 25px;
}

.address-area .container .row .address-item #mapid3 {
    height: 250px; 
    width: 500px;
    margin-bottom: 25px;
}

@media screen and (max-width: 450px) {  
    .address-area{
        margin-left: 10px;
    }   
    .address-area .container .row .address-item #mapid {
        height: 200px; 
        width: 300px;
        margin-bottom: 50px;
   } 

   .address-area .container .row .address-item #mapid1 {
    height: 200px; 
    width: 300px;
    margin-bottom: 50px;
    } 

    .address-area .container .row .address-item #mapid2 {
        height: 200px; 
        width: 300px;
        margin-bottom: 50px;
    } 

    .address-area .container .row .address-item #mapid3 {
        height: 200px; 
        width: 300px;
        margin-bottom: 50px;
    } 
   
}
